<div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">New Food Category </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><%= link_to "Dashboard", admin_dashboard_path, class: "breadcrumb-link" %></li>
                                        <li class="breadcrumb-item active" aria-current="page">New Food Category </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic form -->
                        <!-- ============================================================== -->
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Create New Category</h5>
                                <div class="card-body">
                                    <%= form_with do |form| %>
                                        <div class="form-group">
                                            <%= form.label "Category Title", for: "inputCategoryTitle" %>
                                            <%= form.text_field :title, id: "inputCategoryTitle", name: "category", data_parsley_trigger: "change", required: "", placeholder: "Enter category title", autocomplete: "off", class: "form-control" %>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                                            </div>
                                            <div class="col-sm-6 pl-0">
                                                <p class="text-right">
                                                    <%= form.button "Submit", type: "submit", class: "btn btn-space btn-primary" %>
                                                </p>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end basic form -->
                        <!-- ============================================================== --> 
                </div>           
</div>