<%= form_with(model: admin_menu_category) do |form| %>
  <% if admin_menu_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_menu_category.errors.count, "error") %> prohibited this admin_menu_category from being saved:</h2>

      <ul>
        <% admin_menu_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
